<!-- use in onepost.handlebars -->
<div class="comments">
    {{#each this}}

    <div>
        <p class="card-body"> {{comment.content}} - {{user.username}} {{format_date date}} </p>
    </div>

    {{/each}}
</div>